@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  font-weight: bold;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.city-info{
  position:absolute;
  z-index: 1;
  width: 30vw;
  height: 70vh;
  background-color: rgba(87, 87, 87, 0.5);
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#city-moon-phase-paragraph, #city-weather-description-paragraph{
  display: flex;
  align-items: center;
}

.city-info{
  visibility: hidden;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: rgb(50, 50, 50);
}

.footer-flex{
  margin: 0 auto;
  height: 100%;
  width: 80%;  
  text-align: center;
  display: flex;
  align-items: center;
  gap: 32px
}